.hidden {
    display: none;
}
body main section p {
    display: block;
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(19,41,61,1) 0%, rgba(237,245,249,1) 63%);
  }

button {
    background: radial-gradient(circle, rgb(231, 225, 223) 0%, rgba(23, 8, 161, 0.954) 100%);
    border-radius: 8px;
    color: #13293d;
    cursor: crosshair;
    font-size: 1em;
    letter-spacing: 0.10px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    margin-top: 0.6em;
  }

header {
    padding: 40px;
    text-align: center;
    background: #da2020;
    color: #fff;
  }
  
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

#quizAnswerOptions {
    text-align: center;
}

#quizContainer {
    text-align: center;
    justify-self: center;
    flex: 0 1 100%;

}
  
@media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }

  
@media screen and (max-width: 504px) {
    .large-font {
      font-size: 2em;
    }
}}